In [1]:
import pandas as pd;
data = pd.read_csv('diabetes.csv')

In [2]:
data.columns

Index([u'Pregnancies', u'Glucose', u'BloodPressure', u'SkinThickness',
       u'Insulin', u'BMI', u'DiabetesPedigreeFunction', u'Age', u'Outcome'],
      dtype='object')

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
data.shape;

In [5]:
print(data.shape);

(768, 9)

In [6]:
data.groupby('Outcome').size()

Outcome
0    500
1    268
dtype: int64

In [7]:
data.isnull().sum()
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [8]:
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [10]:
data_c = data[(data.BloodPressure != 0) & (data.BMI != 0) & (data.Glucose) !=0];

In [11]:
data_c.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
8,2,197,70,45,543,30.5,0.158,53,1

In [12]:
print(data_c.shape);

(365, 9)

In [13]:
feature_names = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age'];

In [14]:
X = data[feature_names];
y = data.Outcome;

In [15]:
from sklearn.model_selection import train_test_split;
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [16]:
from sklearn.linear_model import LogisticRegression;
logreg = LogisticRegression()

In [17]:
logreg.fit(X_train,y_train);

/usr/local/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [18]:
y_pred = logreg.predict(X_test);

In [19]:
y_pred.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
print(y_pred)

In [ ]:
print(y_test);

In [ ]:
logreg.get_params();

In [ ]:
print(logreg.get_params());

In [ ]:
print(logreg.densify())

In [ ]:
print(logreg.predict_proba(X_train))

In [ ]:
print(logreg.coef_);

In [ ]:
print(X_test);

In [20]:
print(X_test);

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
661            1      199             76             43        0  42.9
122            2      107             74             30      100  33.6
113            4       76             62              0        0  34.0
14             5      166             72             19      175  25.8
529            0      111             65              0        0  24.6
103            1       81             72             18       40  26.6
338            9      152             78             34      171  34.2
588            3      176             86             27      156  33.3
395            2      127             58             24      275  27.7
204            6      103             72             32      190  37.7
31             3      158             76             36      245  31.6
546            5      187             76             27      207  43.6
278            5      114             74              0        0  24.9
593            2       82             52             22      115  28.5
737            8       65             72             23        0  32.0
202            0      108             68             20        0  27.3
175            8      179             72             42      130  32.7
55             1       73             50             10        0  23.0
479            4      132             86             31        0  28.0
365            5       99             54             28       83  34.0
417            4      144             82             32        0  38.5
577            2      118             80              0        0  42.9
172            2       87              0             23        0  28.9
352            3       61             82             28        0  34.4
27             1       97             66             15      140  23.2
605            1      124             60             32        0  35.8
239            0      104             76              0        0  18.4
744           13      153             88             37      140  40.6
79             2      112             66             22        0  25.0
496            5      110             68              0        0  26.0
..           ...      ...            ...            ...      ...   ...
97             1       71             48             18       76  20.4
530            2      122             60             18      106  29.8
327           10      179             70              0        0  35.1
619            0      119              0              0        0  32.4
518           13       76             60              0        0  32.8
632            2      111             60              0        0  26.2
524            3      125             58              0        0  31.6
536            0      105             90              0        0  29.6
597            1       89             24             19       25  27.8
462            8       74             70             40       49  35.3
17             7      107             74              0        0  29.6
739            1      102             74              0        0  39.5
263            3      142             80             15        0  32.4
241            4       91             70             32       88  33.1
344            8       95             72              0        0  36.8
302            5       77             82             41       42  35.8
704            4      110             76             20      100  28.4
240            1       91             64             24        0  29.2
170            6      102             82              0        0  30.8
691           13      158            114              0        0  42.3
490            2       83             65             28       66  36.8
45             0      180             66             39        0  42.0
750            4      136             70              0        0  31.2
62             5       44             62              0        0  25.0
78             0      131              0              0        0  43.2
366            6      124             72              0        0  27.6
301            2      144             58             33      135  31.6
382            1      109             60              8      182  25.4
140            3      128             78              0        0  21.1
463            5       88             78             30        0  27.6

     DiabetesPedigreeFunction  Age
661                     1.394   22
122                     0.404   23
113                     0.391   25
14                      0.587   51
529                     0.660   31
103                     0.283   24
338                     0.893   33
588                     1.154   52
395                     1.600   25
204                     0.324   55
31                      0.851   28
546                     1.034   53
278                     0.744   57
593                     1.699   25
737                     0.600   42
202                     0.787   32
175                     0.719   36
55                      0.248   21
479                     0.419   63
365                     0.499   30
417                     0.554   37
577                     0.693   21
172                     0.773   25
352                     0.243   46
27                      0.487   22
605                     0.514   21
239                     0.582   27
744                     1.174   39
79                      0.307   24
496                     0.292   30
..                        ...  ...
97                      0.323   22
530                     0.717   22
327                     0.200   37
619                     0.141   24
518                     0.180   41
632                     0.343   23
524                     0.151   24
536                     0.197   46
597                     0.559   21
462                     0.705   39
17                      0.254   31
739                     0.293   42
263                     0.200   63
241                     0.446   22
344                     0.485   57
302                     0.156   35
704                     0.118   27
240                     0.192   21
170                     0.180   36
691                     0.257   44
490                     0.629   24
45                      1.893   25
750                     1.182   22
62                      0.587   36
78                      0.270   26
366                     0.368   29
301                     0.422   25
382                     0.947   21
140                     0.268   55
463                     0.258   37

[192 rows x 8 columns]

In [21]:
pred = logreg.predict(X_test)

In [22]:
print(pred)

[1 0 0 1 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0
 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 0 0 0 1 0 1
 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0
 0 1 0 1 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0
 0 0 0 1 0 0 1 0 1 0 1 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0
 0 1 0 0 0 0 0]